
<h1 style="text-align: center;color: rgb(255, 0, 0);">Careers</h1>
<h2 style="text-align: center;color: darkslategray;">Let's Grow Together</h2>
<body style="text-align: center;">
    <h1 style="font-size:larger;color: rgb(128, 0, 0);">"We have Faith In Innovation"</h1><br>
    <p style="font-style: italic;background-color: aqua;">Growing together in terms of technology and leadership. Imaginnovate solutions mission is to solve the Industries problems by using Technology and Being the most regarded partner of all our Clients.</p><br>
    
    <table style="background-color:rgb(195, 255, 0) ; align-items: center;" >
        <tr>
           <th> job title</th>
           <th> Experience</th>
           <th> Notice period</th>
           <th> Location</th>
           <th> Actions</th>
        </tr>
        <tr>
            <td>JavaScript Developer</td>
            <td>2-7 Years</td>
            <td>Immediate to 30 days</td>
            <td>Visakhapatnam</td>
            <td><button >Apply job</button></td>
        </tr>
        <tr>
            <td>Java Developer</td>
            <td>2-7 Years</td>
            <td>Immediate to 30 days</td>
         <td> Visakhapatnam	  </td>
            <td><button >Apply job</button></td>
        </tr>
        <tr>
            <td>Java Full Stack Developer</td>
            <td>5-8 Years</td>
            <td>Immediate to 30 days</td>
            <td>Visakhapatnam</td>
            <td><button >Apply job</button></td>
        </tr> 
    </table>
    
        <div> 
            <p style="background-color:grey ;">Are you talented, driven, and looking for your next opportunity?<br>
We’re growing. Get in touch here and draft your resume with us.</p></div>
        
<button style="background-color:rgba(255, 0, 0, 0.355) ;">hr@imaginnovate.com</button><br>