<span>
    <h1 style="text-align:center ;color: rgb(139, 0, 0);">Get in Touch</h1>
    <h2 style="text-align:center;color: chocolate;">Reach out to discuss about your next project.</h2></span>
    
    <body>
        <div style="background-color:rgb(200, 255, 0)
         ; text-align: center;">Imaginnovate takes the time to understand your problems then designs, builds and implements tech-based solutions. Feel free to contact us with any questions or engage us in your next app or software project.</div><br>
    
    <h2 style="color:red
     ;">Get in touch</h2>
    <div style="color:rgb(0, 0, 0);"
     >Submit your email below and our team will follow up shortly</div>
    <label>Email
        <input  type="text" name="email"></label>
        <button type="submit">submit</button>
    </body>
    
    
